/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/* Defaults */

:root {
  --primary-color: #2D936C;
	--secondary-color: #596475;
	--tertiary-color: #C7D1DD;
	/* Primary Opacities */
	--primary-color-mid: rgba(45,147,108,.5);
	/* Secondary Opacities */
	--secondary-color-off: rgba(89,100,117,.0);
	--secondary-color-min: rgba(89,100,117,.15);
	--secondary-color-low: rgba(89,100,117,.38);
	--secondary-color-mid: rgba(89,100,117,.5);
	--secondary-color-high: rgba(89,100,117,.75);
	/* White Shades */
	--white-light: #F3F3F3;
	/* Alt UI Colors */
	--ui-color-bad: #DB4535;
}

/* Main Styles */

body {
	background: #F3F3F3;
}

h1 {
	font-family: 'Clearface ITC', serif;
	font-size: 3em;
	color: #2D936C;
	letter-spacing: -.0125em;
}

h3 {
	font-family: 'Surt Exp', sans-serif;
	font-size: 1.75em;
	color: #596475;
	letter-spacing: 0.01em;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.warn-crumb {
	position: relative;
	display: block;
	border-radius: 8px;
	padding-top: 8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 6px;
	font-family: 'Surt Exp', sans-serif;
	font-size: .875em;
	letter-spacing: 0.075em;
}

.warn-primary {
	background: var(--primary-color);
	color: #ffffff;
}

.warn-viewport {
	grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: viewport;
  grid-row-end: viewport;
	justify-self: center;
	align-self: end;
}

.side-panel {
	position: absolute;
	top: 40px;
	left: 40px;
	height: calc(100vh - 100px);
	width: 350px;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: [title] 3em [content] auto;
	grid-template-columns: 1fr;
	row-gap: 20px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 8px 24px 6px rgba(31,34,50, .1);
	background: #ffffff;
	overflow: hidden;
}

.side-panel::after {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5em;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	content: '';
	display: block;
	pointer-events: none;
	z-index: 10;
}

.viewport-ui {
	position: absolute;
	top: 40px;
	left: calc(40px + 350px + 40px);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: [view-controls] 40px [gap-a] 20px [viewport] auto [gap-b] 10px [view-legend] 20px [gap-c] 20px [view-actions] 40px;
	column-gap: 40px;
	width: calc(100vw - calc(40px + 350px + 40px + 40px));
	height: calc(100vh - 100px);
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	z-index: 500;
}

.view-controls {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: view-controls;
	grid-row-end: view-controls;
	display: grid;
	grid-template-columns: [control-alt-area] 1fr [views-control] 1fr [save-area] 1fr;
	grid-template-rows: 1fr;
	column-gap: 40px;
	place-items: center;
}

.save-notification-area {
	grid-column-start: save-area;
	grid-column-end: save-area;
	grid-row-start: 1;
	grid-row-end: 1;
	width: 100%;
	height: 100%;
	position: relative;
}

.autosave-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	gap: 10px;
	align-items: stretch;
	align-content: stretch;
	opacity: 0;
	transform-origin: right center;
	transform: scale(.875);
}

.save-text, .save-state-icon {
	height: 100%;
}

.save-text {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
	font-family: 'Surt Exp', sans-serif;
	font-size: .875em;
	color: var(--primary-color);
	letter-spacing: 0.075em;
	white-space: nowrap;
	box-sizing: border-box;
	padding-top: 14px;
}

.save-dot-change {
	animation: saveDotPluse .625s linear infinite both;
}

.save-text > #dot-0 {
	animation-delay: 0s;
}

.save-text > #dot-1 {
	animation-delay: 0.2083333333s;
}

.save-text > #dot-2 {
	animation-delay: 0.4166666666s;
}

@keyframes saveDotPluse {
	0%		{opacity: .25; animation-timing-function: ease-in-out;}
	20%		{opacity: 1;}
	40%		{opacity: 1; animation-timing-function: ease-in-out;}
	80%		{opacity: .25;}
	100%	{opacity: .25;}
}

.save-state-icon {
	width: 40px;
	background-image: url('../img/autosaving.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}


.view-actions {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: view-actions;
	grid-row-end: view-actions;
	display: grid;
	grid-template-columns: [back-action] auto [gap] 20px [file-actions] 1fr [gap] 20px [forward-action] auto;
	grid-template-rows: 1fr;
	column-gap: 40px;
	align-items: stretch;
	align-content: stretch;
}

.back-action {
	grid-column-start: back-action;
	grid-column-end: back-action;
	grid-row-start: 1;
	grid-row-end: 1;
}

.file-actions {
	grid-column-start: file-actions;
	grid-column-end: file-actions;
	grid-row-start: 1;
	grid-row-end: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 30px;
}

.file-button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: var(--secondary-color);
	background-position: center center;
	background-size: 35px;
	background-repeat: no-repeat;
	box-shadow: 0px 6px 16px 0px var(--secondary-color-low);
	transform-origin: center;
	transform: scale(1);
	transition: .2s ease;
}

.file-button:hover {
	background-color: var(--primary-color);
	box-shadow: 0px 6px 16px 0px var(--primary-color-mid);
	transform: scale(1.25);
}

.file-button[data-file="load"] {
	background-image: url('../img/button-load.svg');
}

.file-button[data-file="save"] {
	background-image: url('../img/button-save.svg');
}

.forward-action {
	grid-column-start: forward-action;
	grid-column-end: forward-action;
	grid-row-start: 1;
	grid-row-end: 1;
}

.button-no-select, .button-primary, .button-secondary {
	position: relative;
	height: 100%;
	border-radius: 4px;
	font-family: 'Clearface ITC', serif;
	font-size: 1.5em;
	color: #ffffff;
	letter-spacing: -.0125em;
	box-sizing: border-box;
	padding: 8px;
	padding-top: 10px;
	padding-bottom: 6px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	transition: .25s ease;
}

.button-no-select {
	background-color: var(--tertiary-color);
	box-shadow: 0px 6px 16px 0px var(--secondary-color-min);
}

.button-primary {
	background-color: var(--primary-color);
	box-shadow: 0px 6px 16px 0px var(--primary-color-mid);
}

.button-secondary {
	background-color: var(--secondary-color);
	box-shadow: 0px 6px 16px 0px var(--secondary-color-mid);
}

.button-forward {
	padding-left: 12px;
}

.button-backward {
	padding-right: 12px;
}

.button-arrow {
	width: 1em;
	height: 1em;
	transform: translateY(-1px);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.button-forward .button-arrow {
	margin-left: 4px;
	background-image: url('../img/arrow-forward.svg');
}

.button-backward .button-arrow {
	margin-right: 4px;
	background-image: url('../img/arrow-backward.svg');
}

.viewport {
	position: absolute;
	top: 0px;
	right: 0px;
	--width-panel: calc(22em + 80px);
	width: calc(100vw - var(--width-panel));
	height: 100vh;
}

.add-icon {
	position: relative;
	width: 100%;
	height: 100%;
}

.add-icon::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 1.5px;
	content: '';
	display: block;
	background: var(--secondary-color);
}

.add-icon::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1.5px;
	height: 90%;
	content: '';
	display: block;
	background: var(--secondary-color);
}

.add-icon-null {
	position: relative;
	width: 100%;
	height: 100%;
}

.add-icon-null::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 1.5px;
	content: '';
	display: block;
	background: var(--secondary-color);
}

.add-icon-null::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1.5px;
	height: 90%;
	content: '';
	display: block;
	background: var(--secondary-color);
}

.subtract-icon {
	position: relative;
	width: 100%;
	height: 100%;
}

.subtract-icon::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 1.5px;
	content: '';
	display: block;
	background: #596475;
}

.add-option {
	position: relative;
	height: 30px;
	width: 30px;
	padding: 4px;
	background-color: var(--tertiary-color);
	border-radius: 4px;
	box-sizing: border-box;
	z-index: 20;
	transition: .375s ease;
}

.add-option::before {
	position: absolute;
	left: 0px;
	top: 0px;
	content: '';
	width: 30px;
	height: 30px;
	background-color: none;
	border-radius: 4px;
	padding: 4px;
	box-sizing: border-box;
	background-image: url('../img/plus.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70%;
	transform-origin: center center;
	transform: rotate(0deg) translateY(-.5px);
	transition: .25s ease;
}

.remove-option {
	position: relative;
	height: 30px;
	width: 100%;
	padding: 4px;
	padding-top: 5px;
	padding-bottom: 3px;
	background-color: var(--ui-color-bad);
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Surt Exp', sans-serif;
	font-size: 1em;
	color: #ffffff;
	letter-spacing: 0.01em;
	white-space: nowrap;
	display: grid;
	place-items: center;
	z-index: 20;
	transition: .375s ease;
}

.remove-option::before {
	position: absolute;
	left: 0px;
	top: 0px;
	content: '';
	width: 30px;
	height: 30px;
	background-color: none;
	border-radius: 4px;
	padding: 4px;
	box-sizing: border-box;
	background-image: url('../img/plus.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70%;
	transform-origin: center center;
	transform: rotate(45deg) translateY(-.5px);
	transition: .25s ease;
}

/* General Input */

.input-text-nofill {
	border: none;
	padding: 0px;
	margin: 0;
  box-sizing: border-box;
	width: calc(100% - 10px);
}

input[type=text]:focus {
	outline: none;
}

input[type=range] {
	-webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
	position: relative;
	margin: 0px;
	background: transparent;
	z-index: 1;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: var(--secondary-color);
  border-radius: 0px;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--secondary-color);
}

input[type=range]::-moz-range-track {
	width: 100%;
  height: 1.5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: var(--secondary-color);
  border-radius: 0px;
  border: none;
}

input[type=range]::-ms-track {
	width: 100%;
  height: 1.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--secondary-color);
  border:none;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--secondary-color);
}
input[type=range]::-ms-fill-upper {
	background: var(--secondary-color);
  border:none;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--secondary-color);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 10px;
  border-radius: 2px;
  background: var(--primary-color);
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	transform: translateY(-45%);
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: none;
	height: 16px;
  width: 12px;
  border-radius: 2px;
  background: var(--primary-color);
  cursor: pointer;
	transform: translateY(-45%);
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: none;
	height: 16px;
  width: 10px;
  border-radius: 2px;
  background: var(--primary-color);
  cursor: pointer;
	transform: translateY(-45%);
}

datalist {
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  justify-content: space-between;
  height: 7px;
	width: 100%;
  overflow: hidden;
	transform: translateY(-5.5px);
	z-index: 0;
}

datalist option {
	content: '';
  display: block;
  width: 1px;
  height: 100%;
  padding-left: 3px;
  text-indent: 0;
	background-color: var(--secondary-color);
	padding: 0px;
	z-index: 0;
}

::placeholder {
  color: var(--secondary-color-low);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--secondary-color-low);
}

::-ms-input-placeholder {
  color: var(--secondary-color-low);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
	border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color-min);
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-high);
}

/* Bed Layout Panel */

.panel-content {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
	gap: 20px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: visible;
}

.side-panel > .container {
	overflow: hidden;
}

.content-bed-add, .content-bed-item {
	flex-grow: 0;
	flex-shrink: 0;
	overflow: hidden;
}

.content-bed-add {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: [button] 1.75em [text] auto;
	column-gap: 10px;
	cursor: pointer;
	background: rgba(45, 147, 108, 0);
	color: #2D936C;
	padding: 8px;
	border-radius: 4px;
	height: calc(1.75em + 16px);
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 3em;
	transition: .125s ease;
}

.content-bed-add:hover {
	background: rgba(45, 147, 108, .1);
}

.content-bed-add h3 {
	color: inherit;
	transform: translateY(.15em);
}

.content-bed-add .add-icon::before, .content-bed-add .add-icon::after {
	background: #2D936C;
}

.content-bed-item > .container {
	display: grid;
	grid-template-rows: [name] 2em [width-control] 2.25em [height-control] 2.25em;
	grid-template-columns: 1fr;
	row-gap: 10px;
	color: #596475;
	padding: 8px;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}

.bed-label {
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: [button] 1.75em [text] auto;
	column-gap: 10px;
	cursor: pointer;
	background: rgba(45, 147, 108, 0);
	color: #2D936C;
	height: 1.75em;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	transition: .125s ease;
}

.bed-label .subtract-icon {
	height: 1.75em;
}

.content-bed-item input[type=text] {
	position: relative;
	font-family: 'Surt Exp', sans-serif;
	font-size: 1.75em;
	color: #596475;
	letter-spacing: 0.01em;
	height: 1.1em;
	transform: translateY(.15em);
}

.bed-slider {
	position: relative;
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.bed-slider input[type=range] {
	position: relative;
	margin-top: 22px;
}

.bed-slider input[type=range]::before {
	position: absolute;
	top: -2em;
	left: 0px;
	content: attr(data-label);
	display: block;
	font-family: 'Surt Exp', sans-serif;
	font-size: .875em;
	font-weight: 300;
	letter-spacing: .025em;
	color: var(--secondary-color);
	width: 1em;
	height: 1em;
}

.slider-value {
	display: grid;
	place-items: end;
	font-family: 'Surt Exp', sans-serif;
	font-size: 1em;
	color: #596475;
	letter-spacing: 0.01em;
	margin-left: 12px;
	width: 1.5em;
}

/* Plant selection */

.search-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding-bottom: 8px;
	background-color: #ffffff;
	border-radius: 4px;
	z-index: 5;
	box-shadow: 0px 4px 12px 0px #ffffff;
}

.plant-search {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	z-index: 10;
}

.search-box {
	position: relative;
	flex-grow: 8;
	margin-right: 8px;
	border-radius: 4px;
	box-sizing: border-box;
	width: calc(100% - 38px);
}

.search-box input[type=text] {
	position: relative;
	font-family: 'Surt Exp', sans-serif;
	font-size: 1em;
	color: var(--secondary-color);
	letter-spacing: 0.01em;
	height: 100%;
	border: none;
	padding-top: 6px;
	padding-left: 12px;
	padding-bottom: 2px;
	padding-right: 12px;
  box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	background-color: var(--white-light);
	z-index: 10;
	transition: .25s ease;
}

.search-suggestions {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	overflow: hidden;
	border-radius: 4px;
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
	z-index: 1;
	transition: .25s ease;
}

.search-suggestions li {
	list-style-type: none;
	font-family: 'Surt Exp', sans-serif;
	font-size: 1em;
	color: var(--secondary-color-high);
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	background: rgba(45, 147, 108, 0);
	transition: .125s ease;
}

.search-suggestions li:hover {
	background: rgba(45, 147, 108, .1);
	color: var(--primary-color);
}

.search-box input[type=text]:focus {
	background-color: #ffffff;
}

.search-box input[type=text] + .search-suggestions {
	height: 30px;
	background-color: var(--white-light);
	box-shadow: 0px 0px 2px 0px var(--secondary-color-min);
	padding-top: 30px;
}

.search-box input[type=text]:focus + .search-suggestions {
	background-color: #ffffff;
	box-shadow: 0px 4px 16px 2px var(--secondary-color-min);
	padding-top: 36px;
}

.grab-item {
	position: relative;
	padding-left: 26px;
	padding-right: 32px;
	padding-top: 8px;
	padding-bottom: 5px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'Surt Exp', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	color: var(--secondary-color);
	letter-spacing: 0.025em;
	touch-action: none;
  user-select: none;
	cursor: move;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 0px var(--secondary-color-off);
	background-color: #ffffff;
}

.grab-item::before {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	left: 6px;
	transform: translate(0%, calc(-50% - 1px));
	height: 12px;
	width: 10px;
	background-image: url('../img/grabber.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.grab-item::after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	right: 12px;
	transform: translate(0%, calc(-50% - 0px));
	height: 15px;
	width: 15px;
	border-radius: 4px;
	background-color: black;
	opacity: 1;
	transition: .2s ease;
}

.blank-item {
	position: relative;
	padding-left: 26px;
	padding-right: 32px;
	padding-top: 8px;
	padding-bottom: 5px;
	width: 100%;
	height: calc(1.1em + 13px);
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px var(--secondary-color) dashed;
	opacity: .2;
	background-color: #ffffff;
}

.blank-item::before {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 17px;
	width: 2px;
	background-color: var(--secondary-color);
}

.blank-item::after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 2px;
	width: 17px;
	background-color: var(--secondary-color);
}

.grab-item[data-plant-parent="none"]::after {
	opacity: .5;
}

.grab-item[data-label-color="#5FAD41"]::after {
	background-color: #5FAD41;
}

.grab-item[data-label-color="#28AFB0"]::after {
	background-color: #28AFB0;
}

.grab-item[data-label-color="#FF7D00"]::after {
	background-color: #FF7D00;
}

.grab-item[data-label-color="#F0A202"]::after {
	background-color: #F0A202;
}

.grab-item[data-label-color="#FC6DAB"]::after {
	background-color: #FC6DAB;
}

.grab-item[data-label-color="#E94F37"]::after {
	background-color: #E94F37;
}

.grab-item[data-label-color="#CA7DF9"]::after {
	background-color: #CA7DF9;
}

.grab-item[data-label-color="#8261FA"]::after {
	background-color: #8261FA;
}

.grab-item[data-label-color="#398CD0"]::after {
	background-color: #398CD0;
}

.grab-item[data-label-color="#F45B69"]::after {
	background-color: #F45B69;
}

.grab-item[data-label-color="#FFDA22"]::after {
	background-color: #FFDA22;
}

.grab-item[data-label-color="#004F2D"]::after {
	background-color: #004F2D;
}

.grab-item[data-label-color="#052FC7"]::after {
	background-color: #052FC7;
}

.grab-item[data-label-color="#25F88F"]::after {
	background-color: #25F88F;
}

.grab-item[data-label-color="#604488"]::after {
	background-color: #604488;
}

.grab-item[data-label-color="#982649"]::after {
	background-color: #982649;
}

.grab-item[data-label-color="#A0DDFF"]::after {
	background-color: #A0DDFF;
}

.grab-item[data-label-color="#FF6F59"]::after {
	background-color: #FF6F59;
}

.grab-item[data-label-color="#B80000"]::after {
	background-color: #B80000;
}

.grab-item[data-label-color="#145C9E"]::after {
	background-color: #145C9E;
}

.grab-item[data-label-color="#0A100D"]::after {
	background-color: #0A100D;
}

.grab-item[data-label-color="#B30089"]::after {
	background-color: #B30089;
}

.grab-item[data-label-color="#F896D8"]::after {
	background-color: #F896D8;
}

.grab-item[data-label-color="#724CF9"]::after {
	background-color: #724CF9;
}

.plant-items, .bed-wrapper {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 32px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	gap: 6px;
}

.plant-items {
	margin-bottom: 1em;
	margin-top: 1em;
}

#search-container-dropzone {
	position: relative;
	padding-left: 26px;
	padding-right: 32px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	height: 0px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px var(--secondary-color) dashed;
	opacity: 0;
	margin-top: 0px;
}

#search-container-dropzone::before {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 17px;
	width: 2px;
	background-color: var(--secondary-color);
}

#search-container-dropzone::after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 2px;
	width: 17px;
	background-color: var(--secondary-color);
}

.bed-area {
	position: absolute;
	top: 78px;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 8px;
	background-color: #ffffff;
	border-radius: 4px;
	z-index: 1;
	overflow-y: scroll;
	padding-right: 12px;
}

.bed-wrapper {
	padding-top: 3.25em;
	margin-bottom: 16px;
}

.bed-wrapper::before {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	content: attr(data-name);
	box-sizing: border-box;
	padding-top: .25em;
	padding-left: 12px;
	font-family: 'Surt Exp', sans-serif;
	font-size: 1.75em;
	color: #596475;
	letter-spacing: 0.01em;
	height: 1.1em;
	transform: translateY(.15em);
}

.bed-wrapper:last-child {
	/* This adds a margin to the bottom of the last bed wrapper in the panel so that the scroll still leaves whitespace at the bottom */
	margin-bottom: 80px;
}

#drag-info {
	display: none;
}
